body{
    margin-top: 0px;
    margin-bottom: 0px;
    border: 1px solid black;
    background-color: rgb(57,62,70);
}
#inpBox{
    /* width: 50%; */
    /* margin: 0px; */
    margin: auto;
    height: 100px;
    background-color: rgb(57,62,70);
    margin-top: 0px;

}
#searchLogo{
    position: relative;
    top: 8px;
    left: 45px;
    /* border: 1px solid black; */
}
.inputBox{
    width: 40%;
    margin: auto;
    height: 50px;
    border-radius: 15px;
    font-size: 25px;
    padding-left: 55px;
}
.outPutBox{
    border-radius: 15px;
    margin-top: 5px;
    height: 300px;
    margin-left: 8%;
    overflow-y: scroll;
    
    width: 44%;
    /* margin: auto; */
    backdrop-filter: blur(10px);
    position: absolute;
    left: 21%;

}
.outPutBox::-webkit-scrollbar {
    display: none;
  }
#pokemonName{
    border-radius: 15px;
    /* border: 1px solid black; */
    margin: 3px;
    text-align: left;
    font-size: 22px;
    padding-left: 15px;
    height: 35px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#pokemonName:hover{
    cursor: pointer;
    background-color: aquamarine;
}

#dataShowGrid{
    /* width: 90%; */
   
    margin: 0px;
    padding: 3%;
    padding-left: 8%;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    /* grid-template-rows: repeat(auto, 20%); */
    grid-gap:70px;
    border: 1px solid black;
    background-color: rgb(228,212,188);
    
}
#singleBox{
    /* width: 25%; */
    border: 1px solid black;
    border-radius:10px;
    /* height: 250px; */
    background-color: rgb(126,185,152);
    color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#singleBox2:hover{
    display: block;
}

#singleBoxHover{
    cursor: pointer;
    display:none;
}
/* #singleBox:hover{
    cursor: pointer;
    display:none;
} */
/* #singleBox2:hover{
    cursor: pointer;
    display:block;
} */
.pokeLogo{
    border-radius: 50%;
    margin-top: 10px;
    /* width: 5%; */
    background-color: rgb(191,220,204);
}
.margin{
    
    /* border: 1px solid black; */
    margin: 6px;
}
.fontsizep{
    font-size: 17px;
    font-weight: normal;
}
.btn{
    margin-top: 50px;
}

#singleBox2{
    /* width: 25%; */
    border: 1px solid black;
    border-radius:10px;
    /* height: 250px; */
    background-color: rgb(126,185,152);
    color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    display: flex;
    align-items: center;
    display: none;
}
#singleBox2:hover{
    display: block;
}

.fontBarName{
    /* border: 1px solid black; */
    font-size: 18px;
    text-align: left;
    width: 30%;
}
.bar{
    width: 80%;
    flex: 4;
    width: 70%;
}